.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #fff;
  padding: 20px 0;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  margin: 0 15px;
}

.marquee-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.gallery-container {
  padding: 40px 20px;
  text-align: center;
  background-color: linear-gradient(135deg, #fff8f0 0%, #fff3e6 100%);
  overflow: hidden;
}

.gallery-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: orangered;
}